<% content_for :title, "About" %>

<br>

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class="text-center">About</h1>

  <ul>
    <li><a href="#info">About Karooly</a></li>
    <li><a href="#students">Student Quick-Start Guide</a></li>
    <li><a href="#teachers">Teacher Guide</a></li>
    <li><a href="#parents">Parent Guide</a></li>
    <li><a href="#accents">How do I write accents?</a></li>
    <li><a href="#cookies">I'm having log-in problems</a></li>
    <li><a href="#name">Why "Karooly"?</a></li>
    <li><a href="#app">Can I learn a language just by using Karooly?</a></li>
  </ul>

  <hr>

  <a name="info"></a>
  <h2>About Karooly</h2>
  <p>Dr. Gonzalo Gallardo developed this vocabulary-builder web application as a for-fun <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a> project to enhance the materials in his Spanish language classes. Karooly's content consists of self-contained vocabulary lessons, avaialbe from any web browser. After students enroll in a lesson, they go through activities to familiarize with the vocabulary's meaning, spelling and diction.</p>

  <br>

  <a name="students"></a>
  <h2>Student Quick-Start Guide</h2>
  <p>Getting started with Karooly is easy:</p>
  <ol>
    <li>Create an account and <%= link_to 'sign in', new_user_session_path %> </li>
    <li>Go to the lesson you were assigned, and enroll. Make sure your username appears on the enrolled list (at the bottom of the page)</li>
    <li>Browse through the lesson's content (go to each individual word, and click its audio)</li>
    <li>Complete the "Exposition" activity as many times as you feel necessary to get a sense of the word and its spelling</li>
    <li>Complete the "Unscramble" and "Dictation" activities</li>
    <li>Do the "Spelling" activity last, as a way to quiz yourself</li>
    <li>Once you complete all activities, you will see a <i class="fa fa-check-circle" style="color:green;" aria-hidden="true"></i> next to your username at the bottom of the list</li>
  </ol>
  <p>Also keep in mind:</p>
  <ul>
    <li>You can keep track of the lessons you've enrolled through your dashboard (click on your username on the top navigation bar when you're signed in)</li>
    <li>You can print the lesson's vocabulary (images and terms) if you like having a physical copy for reference. Just click on the icon on the main lesson page</li>
    <li>You will <strong>learn faster and more securely</strong> if you avoid translating back-and-forth with English. Should you need to consult the references, try to get a sense for the vocabulary first with the images alone</li>
  </ul>

  <br>

  <a name="teachers"></a>
  <h2>Teacher Guide</h2>
  <p>Karooly is designed to promote a hybrid learning environment in the language class. By delegating vocabulary to Karooly, teachers can focus their efforts in communicating and engaging with students face-to-face. It's also meant to save print and copy resources, and to serve as a basic measure for proficiency or formative assessment. Karooly uses an all-or-none approach to learning vocabulary. After the creating a lesson, students enroll to complete a review component and target-language activities. Upon completing all components, a check mark will appear next to their name in the enrollment list.</p>
  <p>Getting started is easy:</p>
  <ol>
    <li>Create an account and <%= link_to 'sign in', new_user_session_path %> </li>
    <li>Click on "New Lesson" on the top navigation bar</li>
    <li>Create your lesson: set up the title, general description, language, and approximate difficulty level</li>
    <li>From the lesson administration page, you can edit the general details (title, description, etc.) and add vocabulary to your lesson</li>
    <li>To add a word, you will need to include the term in the target language, a reference (can be in the student's native tongue or in the target language), an image file, and an audio file.</li>
    <li>Click on "Student View" to see the lesson from the student's perspective</li>
    <li>You're set!</li>
  </ol>
  <p>Students don't need an account to browse through the lesson, but they do need one to enroll and complete the activities. Enrolled students are listed on a box at the bottom of the lesson page (student-view). After you have added the vocabulary to your lesson and students enroll:</p>
  <ol>
    <li>Students will see a list of activities at the top of the lesson</li>
    <li>Students should start with the "Exposition" activity, which is just transcribing the target term to acknowledge exposure. They can do this activity again as necessary, to become familiar with the term and its spelling</li>
    <li>Students should then complete the unscramble and dictation activities, to further work on the vocabulary</li>
    <li>It's a good idea to leave the "Spelling" activity for last, as students have no reference other than the image</li>
    <li>Once students complete all activities, a <i class="fa fa-check-circle" style="color:green;" aria-hidden="true"></i> symbol will appear next to their name</li>
  </ol>
  <p>Please keep in mind:</p>
  <ul>
    <li>You can enroll in your own lesson and complete the activities yourself</li>
    <li>If you edit your lesson's words after students had already enrolled, their activities will be set back to "incomplete" (and the green check mark will be erased until they complete the activities again)</li>
    <li>If you add new words to the lesson after students enroll, their activities will not show the new words</li>
    <li>All lesson activities other than the Exposition are set to random word order</li>
    <li>Students have the option to print the vocabulary (only with images and target terms)</li>
  </ul>

  <br>

  <a name="parents"></a>
  <h2>Parent Guide</h2>
  <p>Karooly is a web application designed by Dr. Gallardo to support your children as they learn vocabulary. Teachers create and/or assign one or more lessons; your child should enroll on those lesson and complete the Karooly activities associated with each. Upon enrolling on a lesson, your child's name will appear in the list at the bottom of the lesson's screen, under the heading "Enrolled Users." Once your child completes all activities, a green check mark will appear next to his or her name; teachers will be monitoring those green check marks when keeping track of which students have completed the lesson. You are encouraged to keep up with the lesson your child enrolls in, and/or quiz your child on the vocabulary. You're even welcome to create an account and try your hand at one of the many uploaded lessons yourself <i class="fa fa-smile-o" aria-hidden="true"></i> After "completing" a Karooly lesson, your child will benefit the most by using the learned vocabulary in communicational settings (be they the classroom, reading, watching media, etc.).</p>

  <br>

  <a name="accents"></a>
  <h2>How do I write accents?</h2>
  <p>Writing special characters (á, é, ñ, etc.) is simple:</p>
  <ul>
    <li>On a mobile device: press the letter you want to place an accent over. In a few moments different options will appear. Drag your finger (i.e. without lifting it from the screen) and choose the character you need.</li>
    <li>On Macbooks: For Spanish accent marks, press option + e, then click the vowel. For the <i>eñe</i>, press option + n, then click n again.</li>
  </ul>

  <br>

  <a name="cookies"></a>
  <h2>I'm having login problems</h2>
  <p>If you see an error message when trying to log in, consider the following:</p>
  <ol>
    <li>Did you create an account before attempting to log in for the first time?</li>
    <li>Are you writing the correct password? If you need a password change, choose that option in the login page.</li>
    <li>If you requested a password change but you haven't received any messages, check the junk folder in your email.</li>
    <li>If you disable cookies in your web browser, you will not be able to log in. Make sure cookies are enabled when you use Karooly.</li>
    <li>All Karooly passwords are encrypted upon creation: no one has access to a Karooly password other than the user who created it. That said, do make sure to write strong passwords, and to guard them.</li>
  </ol>

  <br>

  <a name="name"></a>
  <h2>Why "Karooly"?</h2>
  <p>"Karooly" is a play on words <i class="fa fa-smile-o" aria-hidden="true"></i> In addition to teaching language and developing educational resources, Gonzalo Gallardo is a professional musician. The music and pedagogical work of Italian composer <a href="https://en.wikipedia.org/wiki/Ferdinando_Carulli" target="_blank">Ferdinando Carulli</a> is among Gonzalo's favorites (especially his Solfèges, Op. 195!).</p>

  <br>

  <a name="app"></a>
  <h2>Can I learn a language just by using Karooly alone?</h2>
  <p>Multiple studies posit that language is best learned through communication (expressing oneself orally, reading, writing, etc.). To reach second-language proficiency you need to interact with people, just like you did when learning your native tongue as a young child. Karooly is a tool to promote vocabulary acquisition and proper spelling. Some added benefits are that students don't need to carry around paper vocabulary handouts, and that teachers don't need to go over terms in a menial manner.</p>

  <br>

</div>

<div class="clear"></div>

<br>
