<h1 class="text-center">Karooly</h1>

<h2 class="text-center">Learn languages</h2>

<br class="clear">

<div class="text-center">
  <%= link_to 'Start learning', lessons_path, class: 'btn btn-success' %>
</div>
