#landing-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(ripples.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: url('congruent_pentagon.png');
}

.navbar {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: url('subtle_carbon.png');
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  font-family: "Lucida Grande", sans-serif;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 8px;
  margin: 0 10px 10px 0;
}

.clear {
  clear: both;
} 

.booyah-box .img-responsive {
  margin: 0 auto;
}

span.glyphicon-circle-arrow-right {
    font-size: 2.5em;
    color: green;
}

span.glyphicon-circle-arrow-left {
    font-size: 2.5em;  
    color: green;
}

.booyah-box .boxed-letter {
  display: inline-block;
  padding: 8px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
  background: grey;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

.unselectable {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;          
}

#check-completed-lesson {
  color: green;
}

ul.list-square {
  list-style-type: square;
}

.opaque-box {
  font-family: "Lucida Grande", sans-serif;
  background-color: rgba(0,0,0,0.5);
  padding: 20px 20px 0 20px;
  color: white;
}

.booyah-box .label {
  padding: 8px;
  margin: 5px;
}

.booyah-box .btn {
  margin: 5px;
}

.booyah-box .view-button {
  margin: 5px 0 5px 0;
}

.gen-text {
  font-size: 18px;
}

.booyah-box .label {
  display: inline-block;
  margin: 5px;
}

.enroll-box {
  background: url('groovepaper.png');
  padding: 0 20px 0 20px;
  li {
    font-family: Monospace, sans-serif;
    font-size: 16px;
  }
}

.fa-print {
  color: black;
}